body{
    background-color: #faf2da;
    color: #353535;
}
.navbar-brand{
    background-color: #35d0ba;
    /* padding-left: 20px; */
}
.header{
    width: 100vw;
    background-color: #35d0ba;
}
.container{
    margin: 0 0 0 0;
}
.show-img{
    width: 100vw;
    height: 600px;
}
.splide__slide{
    margin-right: 0;
}
.navbar-item{
    text-decoration: none;
    color: rgb(19, 108, 94);
    font-size: 30px;
    font-family: 'Righteous', cursive;
}
.home-cmt{
    display: flex;
    padding: 10px;
    list-style-type: none;
}
.home-h3{
    text-align: center;
    padding-top: 15px;
}
.home-div{
    border-style: solid;
    border-color: #FC9234;
    border-radius: 5px;
    border-width: 5px;
    margin-left: 15px;
}
.cities-ul{
    border-style: solid;
    border-color: #FC9234;
    margin-top:  10px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-right: 10px;
    background-color: #FC9234;
    height: 900px;
    margin-left: 15px;
}
.search-home{
    /* border-style: solid;
    border-color: #FC9234; */
    margin-top: 10px;
    padding: 15px 0px 15px 5px;
    border-radius: 5px;
}
.cities-h5{
    padding-top: 10px;
    padding-left: 35px;
    font-family: 'Righteous', cursive;
}
.home-li{
    /* position:relative; */
    margin: 8px;
    list-style: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.img-li{
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: relative;
    left: -20px;
    border-radius: 20px;
}
.home-li-img{
    position: relative;
    border-style: solid;
    border-color: #FC9234;
    /* margin: 18px; */
    margin: 35px 20px 20px 3px;
    list-style: none;
    padding: 45px 50px 45px 60px;
    border-radius: 20px;
    background-color: #faf2da;
    /* margin: 20px; */
}
li{
    /* list-style: none; */
    /* height: 150px; */
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #353535;
}
button{
    width:250px; 
    color: rgb(19, 108, 94);
    background:  #35d0ba; 
    font-family: 'Roboto', sans-serif;
}
.header{
    display: inline-block;
}
.auth_form{ 
    background-color: #faf2da;
    border-radius: 20px;
    border-color: #FC9234;
    color: #353535;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    border-radius: 5px;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #FC9234;
    background-color: #faf2da;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%;
    }
    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    h5{ 
        font-size: 45px;
        margin-top: 20px;
        color: #353535;
    }
    .profile-post{
        border-radius: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: #FC9234;
        width: 950px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    .profile{
        display: flex;
    }
    .profile-city{
        padding:45px;
    }
    .profile-city2{
        padding-bottom: 550px;
    }
    .splide__track{
        height: 500px;
        margin-bottom: 0px;
    }
    /* .splide__list{
        height:500px;
    } */
p{
    color: rgb(53, 106, 94)
}
.splide{
    margin-bottom: 0;
}

.profile-post .profinfo{
    text-align: left; 
    margin-top: 20px; 
    margin-left: 5px; 
    padding: 0 auto; 
    font-size: 30px;
}


.edit-username {
    margin-left:5px 
}

li .posts{
    text-align: left;
    margin-left: 5px; 
}

#edit-user{
    float: right; 
    font-weight:bold;
}

.profile-header{
    font-size: 50px; 
    text-align: center; 
    color: #353535; 
    
}
