body{
    background-color: #faf2da;
    color: #353535;
}
.navbar-brand{
    background-color: #35d0ba; 
}
.header{
    width: 100vw;
    background-color: #35d0ba;
}
.container{
    margin: 0 0 0 0;
}
.show-img{
    width: 100vw;
    height: 400px;
}
.splide__slide{
    margin-right: 0;
}
.navbar-item{
    text-decoration: none;
}
.home-cmt{
    display: flex;
    padding: 10px;
    list-style-type: none;
}
.home-h3{
    text-align: center;
    padding-top: 15px;
    /* justify-content: center; */
}
/* .home-li{
    padding: 10px;
    text-align: center;
} */
.home-div{
    border-style: solid;
    border-color: #FC9234;
    border-radius: 5px;
    border-width: 5px;
    margin-left: 15px;
}
.cities-ul{
    border-style: solid;
    border-color: #FC9234;
    margin-right: 650px;
    margin-top:  50px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-right: 10px;
    background-color: #FC9234;
}
.search-home{
    /* border-style: solid;
    border-color: #FC9234; */
    margin-top: 10px;
    padding: 15px 0px 15px 5px;
    border-radius: 5px;
}
.cities-h5{
    padding-top: 10px;
    padding-left: 35px;
}
.home-li{
    /* position:relative; */
    margin: 8px;
    list-style: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.img-li{
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: relative;
    left: -20px;
}
.home-li-img{
    position: relative;
    border-style: solid;
    border-color: #FC9234;
    margin: 8px;
    list-style: none;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    background-color: #faf2da;
}
li{
    list-style: none;
}
button{
    width: 400px;
}
.header{
    display: inline-block;
}
.auth_form{ 
    background-color: #faf2da;
    border-radius: 20px;
    border-color: #FC9234;
    color: #353535;
}

