{% extends 'base.html' %} 
{% block content %}
  <div class="splide row" data-splide='{"type":"loop","perPage":1}'>
    <div class="col">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-92866.jpg" alt=""></li>
        <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-221299.jpg" alt=""></li>
        <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-534362.jpg" alt=""></li>
        <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-2957060.webp" alt="">
        </li>
        <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-3056057.jpg" alt="">
        </li>
        <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-3182452.jpg" alt="">
        </li>
      </ul>
      </div>
    </div>
  </div>
{% endblock %}