{% extends 'base.html' %} 
{% block content %}
<div class="splide row" data-splide='{"type":"loop", "perPage":1}'>
    <div class="col">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-92866.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-221299.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-534362.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-2957060.webp" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-3056057.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/styles/images/pexels-photo-3182452.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>

    <h3 class="home-h3">Wayfarer is ...</h3>

    <div class="lorem">
        <ul class="home-cmt">
            <li class="home-li"><h4 class="home-h4">Topic</h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure consequatur, repudiandae aliquam vitae modi beatae, laborum molestiae quia tempora ipsa pariatur provident suscipit, sit sequi asperiores dicta ducimus praesentium?</li>
            <li class="home-li"><h4 class="home-h4">Topic</h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et minima, accusamus animi consequuntur nulla labore tempora. Tempora, suscipit quia nam nostrum in perferendis mollitia optio sunt, nulla aliquam pariatur autem.</li>
            <li class="home-li"><h4 class="home-h4">Topic</h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum sint recusandae deserunt laudantium animi fugit exercitationem cupiditate eligendi earum obcaecati delectus eius aperiam in, repellendus quod. Saepe, nesciunt doloremque!</li>
        </ul>
    </div>
{% endblock %}