{% extends 'base.html' %}

{% block title%}  
    <title>Log In - Wayfarer</title>
{% endblock title%}

{%block content%}
    <div class="container">
        <br>
        <h2>Log In on Wayfarer</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
        <form method="POST" class="mt-5">
            {%csrf_token%}
            {{register_form.as_p}}
            <input type="text" placeholder="username">
            <br>
            <input type="password" placeholder="password">
        <button type="submit">Log In</button>
        </form>
    </div>
{%endblock content%}
